<footer class="site"><div class="inner">
  <div>
    <a class="brand" href="index.html">{{logo}}<span>Magic State <span class="sub">Factory Catalog</span></span></a>
    <p>An open, community catalogue of magic-state factories. Every number is recomputed from the factory&rsquo;s own circuit.</p>
  </div>
  <div>
    <h4>Explore</h4>
    <ul>
      <li><a href="search.html">Search factories</a></li>
      <li><a href="index.html#parameters">Browse by parameters</a></li>
      <li><a href="about.html">About the catalogue</a></li>
      <li><a href="changes.html">What&rsquo;s new</a></li>
      <li><a href="index.html#frontier">The <span class="tex">\gamma_\rho</span> frontier</a></li>
    </ul>
  </div>
  <div>
    <h4>Data</h4>
    <ul>
      <li><a href="data/factories.csv" download>factories.csv</a></li>
      <li><a href="data/index.json" download>index.json</a></li>
      <li><a href="https://github.com/shubhamj810/magic-state-factory-repo/blob/main/master_catalog/master_catalog.json">master_catalog.json</a></li>
    </ul>
  </div>
  <div>
    <h4>Project</h4>
    <ul>
      <li><a href="about.html#citing">How to cite</a></li>
      <li><a href="https://github.com/shubhamj810/magic-state-factory-repo/tree/main/community_contributions">Contribute a factory</a></li>
      <li><a href="https://github.com/shubhamj810/magic-state-factory-repo">Source on GitHub</a></li>
      <li><a href="https://github.com/shubhamj810/magic-state-factory-repo/issues/new">Report an issue</a></li>
    </ul>
  </div>
  <div class="fine">
    <span>Verified by <a href="https://github.com/shubhamj810/magic-state-factory-repo/blob/main/master_catalog/verify_catalog.py"><code>verify_catalog.py</code></a>.</span>
    <span id="data-stamp">{{stamp}}</span>
  </div>
</div></footer>
